

h6{
  margin-top:4px ;margin-bottom:4px ;
}
.footer{
  display:flex;
  width:100%;
  justify-content:flex-end;
  p{
    margin-right:16px;
  }
}
.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.battery{
  margin-bottom: 8px;
  margin-left: 32px;
}

.nav-bar{
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #E0DCD2;
  overflow: visible;
  position: relative;
  z-index: 10000;
  .key-contacts{
    display: flex;
    justify-content: space-around;
    margin-left:2em;
    margin-right: 32px;
    .icon-link{
      .icon{
        height:50px !important; width: 50px !important;
        margin-left: 32px;
      }
    }
  }

  .main-logo{
    position:relative;
    text-align: center;
    width: 100%;
  }
  .main-logo img{
    height:60px;
    align-self: center;
  }
  .glow{
    box-shadow: 8px 8px 12px rgba(yellow,0.5) inset, 8px 8px 12px rgba(yellow, 0.6);
    border:2px solid yellow;
  }
  .login{
    margin-right: 30px;
    width:60px;
  }
  .hamburger{
    margin-left: 30px;
    align-self: flex-start;
    z-index: 10;
    position:relative;
    overflow: visible;
    img{
      height:60px;width:60px;
      overflow: visible;
    }
  }
  .dropdown-menu{
    position: absolute;
    width:120px;
    top:60px;
    background-color: #E2C08D;
    z-index: -1;
    border-radius: 0 0 12px 12px;
    border: 8.5px solid black;
    border-top: 0px;
  }

.none{
  display: none;
}
  .hide{
    // display: none;
    height: 0px;
    opacity: 0;
    color:transparent;
    animation: hideToNone 1s;
    transition:  opacity 1.0s,height 0.5s;
    cursor:grabbing;
  }
  @keyframes hideToNone {
    10%{
    }
    90%{
      display:block;
    }
    100%{
      display:none;
    }
  }

  .show{
    // display:block;
    color:black;
    height:150px;
    opacity: 1;
    transition: color 1.2s,opacity 1s,height 1s;
  }
  .dropdown-list{
    height: 134px;
    list-style: none;
    text-align: left;
    padding-left:15px;padding-right:15px;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
  }
}


.close-button{
  background-image: url('images/cancel.svg');
  background-size: contain;

  height:20px ;width:20px ;
  padding-right: 5px;padding-left: 5px;
  position: absolute !important;
  right: 3px;
  top: 3px;
  cursor: pointer;

  border: 0px solid #7597F6;
  border-radius: 50%;
  color:red;
  position:relative;
}
.log-in-h2{
  margin-top:6px;
}


// AudioPlayer

.audio-player{
  height:250px ;width:500px ;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 68% 32%;
  .artist-image{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: powderblue;
  }
  .artist-details{
    background-color: red;
  }
  .player{
    background-color: #ccc;
    display:flex;
    justify-content: space-between;
    .play{
      height: 75px;width: 75px;
      border: 1px solid blue;
      border-radius:50%;
      background-image:url('images/cancel.svg');
      background-size: cover;
    }
    .timeline{
      height: 10px;width:150px;
      background-color: #eee;
      margin-top:35px;
    }
    .volume{
      height:25px ;width:25px;
      margin-top:27.5px;
      background-image: url('images/volume.svg');
      background-size: contain;
      cursor:pointer;
    }
  }
}
.polypoint{
  background-color: black;
  padding-top: 75px;  padding-bottom: 75px;
}
svg{
  margin:0 auto;
}

.controls{
  height: 200px;
  margin-left: 150px;
  // width:640px;
  // padding:12px;
  // max-width:500px;
  display:grid;
  grid-gap: 6px;
  grid-template-columns: repeat(10, 80px);
  grid-template-rows: 2fr, 1fr;
  p{
    text-align: center
  }

  .svg-control{
    min-width:80px;
    text-align: center;
    display: grid;
    grid-template-columns:1fr 1fr;
    .button-title{
      height:30px;
      grid-column:1 /3;

    }
    .toggle-button{
      grid-column:1 /3;
      grid-row: 1 /3;
    }
  }

  .rotate-contol-container{
    position: relative;
    .rotate-control{
      width:100px;
      border:'1px solid green';
      margin-left: 20px;
      transform-origin: 58px 44px;
      transform:rotate(-90deg);
    }
    .rotate-input{
      width:80px;
      position:absolute;
      bottom: 18px;
    }
  }
  .slider-picker{
    grid-column:1 /8
  }
}
.sign-up-form{
  background-color:red;
}
